<form [formGroup]="registerForm">
  
  <label>
    name:
    <input type="text" formControlName="name">
  </label>
  <label>
    email:
    <input type="text" formControlName="email">
  </label>

  <label>
    password:
    <input type="password" formControlName="password">
  </label>

  <label>
    photo:
    <input type="file" formControlName="photo"  (change)="onSelectFile($event)">
  </label>

  <button (click)="registerAction()">Register</button>
</form>
<a [routerLink]="['/']" class="btn btn-link">Login</a>
